<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="pt-br">
 <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- SITE META -->
    <title>MBarber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/apple-touch-icon-152x152.png">

    <!-- Bootstrap Styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Theme Styles -->
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Responsive Styles -->
    <link href="~/Content/responsive.css" rel="stylesheet">
    <!-- Color Styles -->
    <link href="~/Content/colors.css" rel="stylesheet">
    <!-- For Appointment Data Picker Styles -->
    <link href="~/Content/jquery-ui.css" rel="stylesheet">
    <!-- REVOLUTION STYLE SHEETS -->
    <link href="~/Content/revolution/css/settings.css" rel="stylesheet">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/revolution/css/layers.css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/revolution/css/navigation.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- PRELOADER -->
    <div id="loader">
        <div class="loader-container">
            <img src="~/Content/images/load.gif" alt="" class="loader-site spinner">
        </div>
    </div>
    <!-- END PRELOADER -->

    <div id="wrapper">
        <header class="header normal-header white-header">
            <div class="container withbg">
                <nav class="navbar navbar-default yamm">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index-2.html"><img src="images/dlogo.png" alt=""></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="megamenu dropdown hasmenu">
                                    @Html.ActionLink("Página Inicial", "Index", "Home", null, new { @class = "dropdown-toggle" })
                                </li>
                                <li><a href="#" title="">Sobre</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right hidden-xs">
                                <li class="active">@Html.ActionLink("Encontre a mais próxima", "Login", "Account")</li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav><!-- end nav -->
            </div><!-- end container -->
        </header><!-- end header -->

        @RenderBody()

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="logo-title">
                                <img src="images/flogo.png" alt="">
                            </div><!-- end widget-title -->
                            <div class="about-widget">
                                <p>
                                    Fusce non nulla quis leo lobortis porttitor. Quisque mi egestas nibh porttitor molestie. Nullam ut orci elit. Suspendisse tincidunt dapibu In nibh es posuere.
                                </p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div><!-- end text-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Working Hourse</h4>
                                <hr>
                            </div><!-- end widget-title -->
                            <div class="link-widget">
                                <ul>
                                    <li>MON <span>09:00 - 19:00</span></li>
                                    <li>TUE <span>09:00 - 19:00</span></li>
                                    <li>WED <span>09:00 - 19:00</span></li>
                                    <li>THU <span>09:00 - 19:00</span></li>
                                    <li>FRI <span>09:00 - 19:00</span></li>
                                    <li>WEEKEND <span>CLOSED</span></li>
                                </ul>
                            </div><!-- end text-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Terms & Legal</h4>
                                <hr>
                            </div><!-- end widget-title -->
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Terms of Usage</a></li>
                                    <li><a href="#">Copyrights</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Customer Login</a></li>
                                    <li><a href="#">Cookie Policy</a></li>
                                    <li><a href="#">How to Contact</a></li>
                                </ul>
                            </div><!-- end text-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Site Links</h4>
                                <hr>
                            </div><!-- end widget-title -->
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Appointment</a></li>
                                    <li><a href="#">Team Members</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div><!-- end text-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Recent Posts</h4>
                                <hr>
                            </div><!-- end widget-title -->
                            <div class="recent-post-widget">
                                <ul class="recent-posts">
                                    <li>
                                        <p><a href="single.html" title=""><img src="upload/blog_01.jpg" alt="" class="alignleft">Where You Can Purchase Barber Materials?</a></p>
                                        <span>12 May 2016</span>
                                    </li>
                                    <li>
                                        <p><a href="single.html" title=""><img src="upload/blog_02.jpg" alt="" class="alignleft">Who is Your Favorite Barber?</a></p>
                                        <span>06 May 2016</span>
                                    </li>
                                </ul><!-- end latest-tweet -->
                            </div><!-- end twitter-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
            <div class="copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <a class="topbutton dmtop"><i class="fa fa-angle-up"></i></a>
                            <div class="copyright-text">
                                <p>Powered with <a href="#">Bootstrap</a> Ideas and Designed by <a href="https://showwp.com/" title="Show WP">Show WP</a></p>
                            </div><!-- end copyright-text -->
                            <div class="copyrights-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-reddit"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div><!-- end social -->
                        </div><!-- end widget -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div>
        </footer><!-- end footer -->
    </div><!-- end wrapper -->
    <!-- Main Scripts-->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/plugins.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="~/Content/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  -->
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/Content/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Scripts/rev_01.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>